<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> La caja de pandora </title>
</head>
<body>
    <h1>La caja de pandora</h1>
    <ul>
        <li> Django es un framework famoso </li>
        <li> Esta escrito en python </li>
    </ul>
    <ol>
        <li><a href="ejercicio1/Guille/Costamagna/">Ir a ejercicio 1</a></li>
        <li><a href="ejercicio2/">Ir a ejercicio 1</a></li>
    </ol>
    <footer> Hecho en casa en el año: {{año}}</footer>
</body>
</html> 